/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 80px;
background: #3a2f2b;
color: white;
}
header > a {
color: white;
font-size: 24px;
font-weight: 600;
text-decoration: none;
}
.headerdiv{
    text-align: center;
    max-width: 380px;


}
.hero{
 font-size: 22px;
 font-weight: 300;
}
.niv{
 font-size: 40px;
 margin: 5px 0;

}
.superman{
 font-size: 15px;
 margin-bottom: 15px;
 opacity: 0.8;
}

.headerli{
 list-style: none;
}
.header div li a {
 display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #3a2f2b;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}
.header nav ul {
display: flex;
    gap: 25px;
    list-style: none;
}